In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
# read data
df_address = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', sheet_name='CustomerAddress')

In [3]:
df_address.columns = df_address.iloc[0]
df_address = df_address.iloc[1:]

In [4]:
df_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 1 to 3999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   object
 1   address             3999 non-null   object
 2   postcode            3999 non-null   object
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   object
dtypes: object(6)
memory usage: 187.6+ KB

In [5]:
# set index
df_address = df_address.set_index('customer_id')

In [6]:
df_address.isnull().sum()

0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [7]:
# rename some velues in column state
df_address['state'].replace({'New South Wales': 'NSW', 'Victoria': 'VIC'}, inplace=True)
df_address['state'].value_counts()

state
NSW    2140
VIC    1021
QLD     838
Name: count, dtype: int64

In [8]:
df_address

,address,postcode,state,country,property_valuation
customer_id,,,,,
1,060 Morning Avenue,2016,NSW,Australia,10
2,6 Meadow Vale Court,2153,NSW,Australia,10
4,0 Holy Cross Court,4211,QLD,Australia,9
5,17979 Del Mar Point,2448,NSW,Australia,4
6,9 Oakridge Court,3216,VIC,Australia,9
...,...,...,...,...,...
3999,1482 Hauk Trail,3064,VIC,Australia,3
4000,57042 Village Green Point,4511,QLD,Australia,6
4001,87 Crescent Oaks Alley,2756,NSW,Australia,10
4002,8194 Lien Street,4032,QLD,Australia,7
4003,320 Acker Drive,2251,NSW,Australia,7

In [9]:
df_address['property_valuation'] = df_address['property_valuation'].astype(int)

In [10]:
df_address.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3999 entries, 1 to 4003
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             3999 non-null   object
 1   postcode            3999 non-null   object
 2   state               3999 non-null   object
 3   country             3999 non-null   object
 4   property_valuation  3999 non-null   int32
dtypes: int32(1), object(4)
memory usage: 171.8+ KB

In [11]:
df_address.to_csv('Cust_Address_cleaned.csv')